.navStyle {
    background-color: rgb(10 10 10);
    color: rgb(226 232 240);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-menu {
    position: fixed;
    top: 0px;
    right: 0;
    background-color: rgb(10 10 10);
    color: rgb(226 232 240);
    height: 100vh;
    width: 300px;
    padding: 40px;
    z-index: 999;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 25px;
    font-size: 20px;
    cursor: pointer;
}

li:hover,
li:active {
    background-color: rgb(226 232 240);
    color: rgb(10 10 10);
    padding-left: 10px;
}